[Unit]
Description=Compiz Window Manager
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.compiz
# sleep 10 years while we wait for the dbus name to appear
# compiz is actually run by an xsession.d script,
# to make sure, tt runs after xserver
ExecStart=sleep 307584000 
ExecStartPost=/usr/bin/compiz-do set core screen0 detect_outputs boolean:false
ExecStartPost=/usr/bin/compiz-do set place screen0 multioutput_mode int32:3

RestartSec=5
Restart=always

[Install]
WantedBy=default.target
